.App-componente1,
.App-componente2,
.App-componente3,
.App-componente4 {
	align-items: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	justify-content: center;
}

.App-componente1,
.App-componente3 {
	background-color: #262626;
}

.App-componente2,
.App-componente4 {
	background-color: #0d0d0d;
}

.App-componente1,
.App-componente4 {
	min-height: 20vh;
}

.App-componente2 {
	min-height: 25vh;
}

.App-componente3 {
	min-height: 35vh;
}
